---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-max-width:   1024px;
$base-font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$base-font-size:   12px;
$small-font-size:  $base-font-size * 0.875;
$tiny-font-size:   $base-font-size * 0.6;
$base-line-height: 1.5;

$spacing-unit:     24px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-verylight: lighten($grey-color, 45%);
$grey-color-dark:  darken($grey-color, 25%);

$mobile-cutoff:     640px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout";

// Syntax highlighting
@import "syntax-highlighting";

// Increase font size and spacing for large displays

@media screen and (min-width: $mobile-cutoff) {
    $base-font-size: 16px;
    $small-font-size:  $base-font-size * 0.875;
    $tiny-font-size:  $base-font-size * 0.6;
    $spacing-unit: 32px;
    @import "base", "layout";
}
