// Menu styling

hr.menu {
    display: none;
}

div.menuportrait img {
    width: 3*$spacing-unit;
    height: 3*$spacing-unit;
    padding-right: $spacing-unit/4;
    margin: 1px;
}

div.menuportrait {
    display: inline-block;
}

div.menuitems {
    margin-right: $spacing-unit/4;
    display: inline-block;
    vertical-align: top;
}

div#menu ul.menu {
    margin-left: 0px;
    margin-bottom: 0px;
}

div#menu li {
    display: block;
}

div#menu {
    font-size: 75%;
}

div#menu {
    margin-bottom: $spacing-unit;
}

// Menu styling for non-mobile

@media screen and (min-width: $mobile-cutoff) {

    div.menuitems {
        margin-right: 0;
        display: inline-block;
        vertical-align: top;
    }

    div#menu {
        font-size: 100%;
    }

    hr.section {
        visibility: visible;
    }

    hr.menu {
        display: block;
        border: 0; 
        height: 1px;
        margin-top: $spacing-unit/4;
        margin-bottom: $spacing-unit/4;
        @include gradient(left, $grey-color-light, $text-color); 
    }

    div#menu {
        position: fixed;
        text-align: right;
        width: 5*$spacing-unit;
        margin-top: $spacing-unit/8;
        margin-right: $spacing-unit/2;
        padding: $spacing-unit/2;
        background: $grey-color-light;
        border-radius: $spacing-unit/4;
        @include gradient(top, $grey-color-light, $background-color);
    }

    div.menuportrait {
        width: 5*$spacing-unit+2px;
        height: 5*$spacing-unit+2px;
        margin-bottom: $spacing-unit/4;
        padding-right: 0px;
        @include gradient(0deg, $grey-color, $text-color);
    }

    div.menuportrait img {
        width: 5*$spacing-unit;
        height: 5*$spacing-unit;
        margin: 1px;
    }

    div#body {
        padding-left: 6.5*$spacing-unit;
        height: 100%;
    }

    @media screen and (min-width: $base-max-width) {
        .wrapper {
            margin-top: $spacing-unit;
            border-radius: $spacing-unit $spacing-unit 0px 0px;
        }
    }

}
